#2. DataFrame
2차원 데이터(Series들의 모듈)

##Data 준비
사전(dict) 자료 구조를 통해 생성

예_슬램덩크 주요 인물 8명에 대한 데이터

In [1]:
data={
    '이름' : ['채치수', '정대만', 송태섭', '서태웅','강백호', 황태산', '윤대형']
    '학교': ['북산고','북산고', '북산고', 북산고', '북산고', '능남고','능남고','능남고']
    '키':[197, 184, 168, 187, 188, 202, 188, 190]
    '국어':[90,40,80,40,15,80,55,100]
    '영어':[85,35,75,60,20,100,65, 85]
    '수학':[100,50, 70,70, 10,95,45,90]
    '과학':[95, 55, 80, 75, 35, 85, 40, 95]
    '사회':[85, 25,75,80,10,80,35,85]
    'SW특기': 
    ['Python','Java','Javascript',"",'C','Python','C#']
}
data

SyntaxError: invalid syntax (1151794359.py, line 2)

In [6]:
data = {
    '이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '황태산', '윤대형'],
    '학교': ['북산고'] * 5 + ['능남고'] * 3,
    '키': [197, 184, 168, 187, 188, 202, 188, 190],
    '국어': [90, 40, 80, 40, 15, 80, 55, 100],
    '영어': [85, 35, 75, 60, 20, 100, 65, 85],
    '수학': [100, 50, 70, 70, 10, 95, 45, 90],
    '과학': [95, 55, 80, 75, 35, 85, 40, 95],
    '사회': [85, 25, 75, 80, 10, 80, 35, 85],
    'SW특기': ['Python', 'Java', 'Javascript', '', 'C', 'Python', 'C#', '']
}
data

{'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '황태산', '윤대형'],
 '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 85],
 'SW특기': ['Python', 'Java', 'Javascript', '', 'C', 'Python', 'C#', '']}

In [7]:
data['이름']

['채치수', '정대만', '송태섭', '서태웅', '강백호', '황태산', '윤대형']

In [8]:
data['키']

[197, 184, 168, 187, 188, 202, 188, 190]

In [10]:
import pandas as pd
df=pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

In [12]:
data = {
    '이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '황태산', '윤대형'],
    '학교': ['북산고'] * 5 + ['능남고'] * 2,
    '키': [197, 184, 168, 187, 188, 202, 188],
    '국어': [90, 40, 80, 40, 15, 80, 55],
    '영어': [85, 35, 75, 60, 20, 100, 65],
    '수학': [100, 50, 70, 70, 10, 95, 45],
    '과학': [95, 55, 80, 75, 35, 85, 40],
    '사회': [85, 25, 75, 80, 10, 80, 35],
    

import pandas as pd
df = pd.DataFrame(data)
print(df)

SyntaxError: invalid syntax (7109016.py, line 12)

In [13]:
import pandas as pd
df=pd.DataFrame(data)

In [14]:
df

    이름   학교    키  국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197  90   85  100  95  85      Python
1  정대만  북산고  184  40   35   50  55  25        Java
2  송태섭  북산고  168  80   75   70  80  75  Javascript
3  서태웅  북산고  187  40   60   70  75  80
4  강백호  북산고  188  15   20   10  35  10           C
5  황태산  능남고  202  80  100   95  85  80      Python
6  윤대형  능남고  188  55   65   45  40  35          C#

데이터 접근

In [15]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    황태산
6    윤대형
Name: 이름, dtype: object

In [17]:
df[['이름','키']]

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168
3  서태웅  187
4  강백호  188
5  황태산  202
6  윤대형  188

DataFrame 객체 생성(Index 지정)

In [20]:
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번'])
df

     이름   학교    키  국어   영어   수학  과학  사회        SW특기
1번  채치수  북산고  197  90   85  100  95  85      Python
2번  정대만  북산고  184  40   35   50  55  25        Java
3번  송태섭  북산고  168  80   75   70  80  75  Javascript
4번  서태웅  북산고  187  40   60   70  75  80
5번  강백호  북산고  188  15   20   10  35  10           C
6번  황태산  능남고  202  80  100   95  85  80      Python
7번  윤대형  능남고  188  55   65   45  40  35          C#

DataFrame 객체 생성(Column지정)

In [22]:
df=pd.DataFrame(data, columns=['이름','학교','키'])
df

    이름   학교    키
0  채치수  북산고  197
1  정대만  북산고  184
2  송태섭  북산고  168
3  서태웅  북산고  187
4  강백호  북산고  188
5  황태산  능남고  202
6  윤대형  능남고  188