데이터 선택(기본)

In [1]:
import pandas as pd
df=pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키  국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90   85  100  95  85      Python
2번    정대만  북산고  184  40   35   50  55  25        Java
3번    송태섭  북산고  168  80   75   70  80  75  Javascript
4번    서태웅  북산고  187  40   60   70  75  80         NaN
5번    강백호  북산고  188  15   20   10  35  10           C
6번    황태산  능남고  202  80  100   95  85  80      Python
7번    윤대형  능남고  188  55   65   45  40  35          C#

In [4]:
df['이름']

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    황태산
7번    윤대형
Name: 이름, dtype: object

In [5]:
df['키']

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
Name: 키, dtype: int64

In [6]:
df[['이름','키']]

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168
4번    서태웅  187
5번    강백호  188
6번    황태산  202
7번    윤대형  188

In [7]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [8]:
df.columns[0]

'이름'

In [10]:
df.columns[2]

'키'

In [11]:
df[df.columns[0]]

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    황태산
7번    윤대형
Name: 이름, dtype: object

In [12]:
df[df.columns[-1]] #맨 끝에 있는 값을 가져온다.

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번             C
6번        Python
7번            C#
Name: SW특기, dtype: object

슬라이싱

In [13]:
df['영어'][0:6]#영어 성적 중에서

지원번호
1번     85
2번     35
3번     75
4번     60
5번     20
6번    100
Name: 영어, dtype: int64

In [14]:
df[['이름','키']][:3] #처음 3명의 키 정보를 가져온다.

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168

In [15]:
df['이름'][3:]

지원번호
4번    서태웅
5번    강백호
6번    황태산
7번    윤대형
Name: 이름, dtype: object